---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "2020-2022",
    title: "Horticultor y Diseñador de Jardines (2 años)",
    company: "Rafflesia",
    description:
      "Planifiqué y organicé proyectos de paisajismo utilizando aplicaciones para diseñar jardines visualmente atractivos y funcionales.",
  },
  {
    date: "Septiembre 2019",
    title: "Auxiliar administrativo",
    company: "",
    description:
      "Como auxiliar administrativo, desarrollé habilidades organizativas y de gestión de tareas, esenciales para trabajar en proyectos de programación y desarrollo web.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
